{% extends 'base.html' %}
{% block content %}
{{ super() }}

<h1>Редактирование</h1>
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{ msg }}</div>
{% endfor %}
<form method="POST" class="form-contact">
    {{ form.csrf_token }}
    {% for i in data %}
    
    <h2>{{ form.heading.label }}</h2><p id="inp">{{ form.heading(value=i.heading) }}</p>
    
    <h2>{{ form.text.label }}</h2><p id="inp"><textarea id="body" name="text">{{ i.text }}</textarea>       
    </p>
    {% endfor %}
<p><input type="submit" value="Отправить"></p>
</form>

{% endblock %}